


h1{
    font-family: 'Dancing Script', cursive;
}

.container-fluid{
    background-color: rgb(107, 50, 107);
    color: rgb(248, 245, 245);
}


.carousel-item img{
    width: 80%;
    height: 540px;
    
}




section img{
    width: 300px;
    height: 200px;
}

.card-body { background-color: indianred}

.card-text { font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.card {
    transition: all 0.3;
}
.card :hover{
    transform: scale(1.15)
}

.text{
    font-family: 'Dancing Script', cursive;
    margin-top: 5px;
    
    background-color: rgb(250, 171, 239);
    font-size: larger;
}


section{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Dancing Script', cursive;
font-size: 20px;
}
.gallery{
    width: 100%;
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(0,2fr);
    font-size: x-large;
}
    .gallery img{
        height: 60lvh;
        width: 100%;
        
    }
    .gallery :hover{
        transform: scale()
    }
    
    .images-container{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        
    }
    .image{
        width: calc(30% - 2.5px);
        margin-bottom: 2px;
        display: none;

    }
.image img{
    width: 100%;

}

.load-more1{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more1 :hover{
    opacity: .8;
}


.load-more2{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more2 :hover{
    opacity: .8;
}

.load-more3{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more3 :hover{
    opacity: .8;
}

.load-more4{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more4 :hover{
    opacity: .8;
}
.load-more5{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more5 :hover{
    opacity: .8;
}

.load-more6{
    display: block;
    margin: auto;
    height: 60px;
    padding: 0 50px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(48, 158, 158);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: .3s linear;
}
.load-more6 :hover{
    opacity: .8;
}



.text-center1{
    margin-top: 5px;
    color:blueviolet;
    background-color: beige;
}
.contact{
    background-color: rgba(8, 126, 106, 0.815);
}
p{
    font-size: 20px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 4, 39);
}

.add {
    font-size: 28px;
    font-style:inherit;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    background-color: aliceblue;
}

.text2{
font-size:larger;
font-style: bold;
color: bisque;
}
